/* Основные стили сайта */
body {
    font-family: 'Montserrat', sans-serif;
    color: #323232;
    font-size: 14px;
}

h1 {
    font-size: 35px;
    margin-bottom: 0;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;
}

a {
    text-decoration: none;
}

a.a_order {
    padding: 10px 100px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    background-color: #97D700;
    font-size: 13px;
    letter-spacing: 0.39px;
    outline: none;
    margin-bottom: 100px;
    font-weight: 600;
    cursor: pointer;
}

p {
    line-height: 26px;
}

h4 {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}

main {
    max-width: 1170px;
    margin: 0 auto;
}

button {
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    background-color: #97D700;
    font-size: 13px;
    letter-spacing: 0.39px;
    outline: none;
    margin-bottom: 100px;
    font-weight: 600;
    cursor: pointer;
}

.a_wrap {
    padding-bottom: 50px;
    position: relative;
}

.center {
    text-align: center;
    margin: 0 auto;
}

section {
    padding-top: 60px;
}
/* First Section */

.a_first_section > div > p {
    margin-top: 5px;
    margin-bottom: 70px;
    font-size: 16px;
}
.a_first_section form {
    margin: 0 30px 25px 0;
    width: 345px;
    height: 190px;
    padding: 30px 44px;
    background-color: #97D700;
    border-radius: 7px;
}

.a_first_section input:nth-child(1), .a_first_section input:nth-child(2), .a_first_section select {
    font-size: 14px;
    padding-left: 5px;
    color: #fff !important;
    margin-bottom: 25px;
    background-color: #97D700 !important;
    border: none;
    border-bottom: 1px solid #fff;
    outline:none;
}
.a_first_section ::-webkit-input-placeholder {color:#fff;}
.a_first_section ::-moz-placeholder          {color:#fff;}
.a_first_section :-moz-placeholder           {color:#fff;}
.a_first_section :-ms-input-placeholder      {color:#fff;}

.a_first_section select {
    padding-left: 0;
}

.a_first_section button {
    width: 240px;
    height: 35px;
    color: #97D700;
    background-color: #fff;
    margin: 15px auto 0;
}

#a_main_slider {
    width: 540px;
}

.a_slide p {
    margin-bottom: 46px;
}

.a_first_section .owl-prev {
    position: absolute;
    left: -70px;
    top: -200px;
    bottom: 0;
    width: 25%;
    height: 200px;
    margin: auto 0;
    text-align: right;
}

.a_first_section .owl-next {
    position: absolute;
    right: -70px;
    top: -200px;
    bottom: 0;
    width: 25%;
    height: 200px;
    margin: auto 0;
    text-align: left
}

.a_first_section button img {
    padding: 0 50px;
}

.owl-dots {
    position: absolute;
    right: 0;
    top: 18px;
    background-color: #fff;
    z-index: 1;
}

.a_first_section .owl-dot {
    width: 10px;
    height: 10px;
    background-color: #97D700 !important;
    margin: 5px;
    border-radius: 0;
    opacity: 0.27;
}

.a_first_section .owl-dot.active {
    opacity: 1;
}

/* Каталог */
.a_position {
    padding: 0 22px 20px 22px;
    width: 256px;
    border: 1px solid #97D700;
    border-radius: 30px 0 30px 0;
    margin: 0 30px 55px 30px;
}

.a_catalog td {
    line-height: 18px;
}

.a_catalog img {
    width: 100%;
    padding-bottom: 8px;
}

.a_catalog table {
    border-collapse: collapse;
    font-size: 11px;
    margin-bottom: 27px;
    width: 100%;
}

.a_catalog table tr:nth-child(odd) {
    background-color: #97D700;
}

.a_catalog table td {
    padding: 3px 8px;
    border-radius: 3px 10px 3px 10px;
}

.a_catalog table tr td:first-child {
    border-radius: 3px 0 0 3px;
}

.a_catalog table tr td:nth-child(2) {
    border-radius: 0 3px 3px 0;
}

.a_catalog_button {
    height: 30px;
    width: 100%;
    margin: 0;
    font-size: 11px;
    letter-spacing: 0.33px;
}

/* О нас */

.a_about h2 {
    margin-top: 0;
    line-height: 1;
}

.a_about h4 {
    margin-top: 0;
    text-align: left;
}

.a_about .a_wrap a {
    color: #97D700;
}

.a_wrap img {
    width: 370px;
    height: 230px;
    margin: 10px 20px;
    border-radius: 30px 0 30px 0;
}

.a_descrip {
    width: 61%;
    padding: 10px 20px;
    text-align: justify;
}

.a_about .a_wrap:last-child {
    padding-bottom: 0;
}

/* Оплата и доставка */
.a_conditions {
    padding-bottom: 40px;
}

.a_conditions li {
    line-height: 26px;
}

.a_conditions h2 {
    margin: 5px 0 30px 0;
}

.a_conditions .fa-li {
    font-size: 25px;
    color: #97D700;
    padding-top: 7px;
}

.a_conditions li {
    padding-bottom: 30px;
}

.a_delivery li {
    padding-left: 5px;
}

.a_payment, .a_delivery {
    width: 35%;
    min-width: 420px;
    margin: 20px 20px 10px;
}

/* О велосипедах */

.a_about_bikes {
    padding-bottom: 40px;
}

.a_about_bikes li {
    line-height: 26px;
}

.a_about_bikes h4 {
    margin-top: 0;
    text-align: left;
}

.a_about_bikes b {
    font-weight: 600;
}

/* Отзывы */

.a_comments {
    padding-bottom: 40px;
}

.a_comments b {
    font-weight: 600;
}

.a_one_comment {
    width: 50%;
    margin: 0 auto 50px;
    text-align: center;
}

.a_comments .owl-item img {
    width: 115px !important;
}

.a_one_comment p {
    max-width: 600px;
    margin: 15px auto;
    text-align: justify;
}

.a_comments .owl-prev {
    position: absolute;
    left: 0px;
    top: 0;
    bottom: 0;
    width: 25%;
    height: 200px;
    margin: auto 0;
    text-align: right;
}

.a_comments .owl-next {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 25%;
    height: 200px;
    margin: auto 0;
    text-align: left
}

.a_comments button img {
    padding: 0 50px;
}

/* Контакты */

.a_contacts {
    padding-bottom: 150px;
}

.a_contacts_info p {
    padding-bottom: 20px;
}

.a_contacts_info b {
    font-weight: 600;
}

#map {
    width: 500px;
    height: 400px;
}

/* Подвал*/

footer {
    background-color: #97D700;
    color: #fff;
    padding: 50px 115px;
}

footer form {
    margin: 0 30px 25px 0;
    width: 300px;
}

footer input:nth-child(1), footer input:nth-child(2), footer select {
    font-size: 14px;
    padding-left: 5px;
    color: #fff !important;
    margin-bottom: 20px;
    background-color: #97D700 !important;
    border: none;
    border-bottom: 1px solid #fff;
    outline:none;
}
footer ::-webkit-input-placeholder {color:#fff;}
footer ::-moz-placeholder          {color:#fff;}
footer :-moz-placeholder           {color:#fff;}
footer :-ms-input-placeholder      {color:#fff;}

footer select {
    padding-left: 0;
}

footer button {
    width: 240px;
    height: 35px;
    color: #97D700;
    background-color: #fff;
    margin: 15px auto;
}

footer a {
    color: #fff;
    line-height: 25px;
}

.a_footer_menu {
    margin: 0 30px 25px 0;
}

.a_footer_menu ul {
    margin-top: 0;
    padding-left: 0;
}

.a_footer_menu li {
    list-style: none;
}

.a_footer_info {
    width: 350px;
    margin: 0 30px 25px 0;
}

.a_footer_info p:first-child {
    margin-top: 0;
}



/* Шапка сайта */

.o_header .logo {
    background: #97D700;
    display: inline-block;
    top: 0px;
    left: -7px;
    width: 223px;
    height: 68px;
    background: #97D700 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 7px 0px;
    opacity: 1;
}

.o_header .logo-text {
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    font-size: 24px;
    letter-spacing: 5px;
    margin-top: 20px;
}

.o_header ul  {
    margin-top: -40px;
    margin-left: 220px;
}

.o_header li {
    color: black;
    display: inline;
    padding-top: 25px;
    padding-bottom: 25px;
    height: 18px;
    font-size: 14px;
    text-align: center;
}

.o_header a {
    padding: 14px;
    text-decoration: none;
}
.o_header a:hover {
    background: green;
    color: green;
}
.o_header a:link {
    color: black;
}

.o_header a:hover {
    background: white;
    color: #B5E61D;
}

.o_header .fa-phone {
    float: right;
    margin-top: -30px;
    margin-right: 42px;
    color: #97D700;
}

.number {
    font-family: Montserrat;
    margin-left: 10px;
}