/* Основные стили сайта */
body {
    font-family: 'Montserrat', sans-serif;
    color: #323232;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;
}

h4 {
    text-align: center;
}

button {
    width: 280px;
    height: 40px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    background-color: #97D700;
    font-size: 11px;
    letter-spacing: 0.33px;
    outline: none;
    margin-bottom: 100px;
    cursor: pointer;
}

.a_wrap {
    padding-bottom: 50px;
}

.center {
    text-align: center;
}
/* Каталог */
.a_position {
    padding: 0 22px 20px 22px;
    width: 300px;
    border: 1px solid #97D700;
    border-radius: 30px 0 30px 0;
    margin: 0 50px 55px 50px;
}

.a_catalog img {
    width: 100%;
    padding-bottom: 8px;
}

.a_catalog table {
    border-collapse: collapse;
    font-size: 11px;
    margin-bottom: 27px;
    width: 100%;
}

.a_catalog table tr:nth-child(odd) {
    background-color: #97D700;
}

.a_catalog table td {
    padding: 3px 9px;
    border-radius: 3px 10px 3px 10px;
}

.a_catalog table tr td:first-child {
    border-radius: 3px 0 0 3px;
}

.a_catalog table tr td:nth-child(2) {
    border-radius: 0 3px 3px 0;
}

.a_catalog_button {
    height: 30px;
    width: 100%;
    margin: 0;
}

/* О нас */

.a_about h4{
    text-align: left;
}

.a_wrap img {
    width: 370px;
    margin: 10px 20px;
    border-radius: 30px 0 30px 0;
}

.a_decrip {
    width: 50%;
    padding: 10px 20px;
    text-align: justify;
}

/* Оплата и доставка */
.a_conditions h2 {
    margin-bottom: 30px;
}

.a_conditions .fa-li {
    font-size: 25px;
    color: #97D700;
}

.a_conditions li {
    padding-bottom: 30px;
}
.a_payment, .a_delivery {
    width: 35%;
    min-width: 400px;
    padding: 0 40px
}

/* О велосипедах */

.a_about_bikes h4{
    text-align: left;
}

